@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --bg-color: white;
  --typewriterSpeed: 6s;
}

.aboutPage {
  min-height: 78.8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media screen and (min-width: 1558px) {
  .aboutMeNameH1::before,
  .aboutMeNameH1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .aboutMeNameH1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) 1s
      steps(var(--name-string-length)) forwards;
  }

  .aboutMeNameH1::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) 1s
        steps(var(--name-string-length)) forwards,
      blinker 1s steps(var(--name-string-length)) infinite;
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blinker {
    to {
      background: transparent;
    }
  }
}

.aboutMeNameH1 {
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  position: relative;
  text-align: center;
}

.aboutMePhoto {
  margin: 25px 0px 0px 0px;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  border: rgb(80, 80, 80) 10px solid;
  box-shadow: 8px 8px 23px -3px #000000;
}

.aboutMeProgrammingLogosGridContainer {
  display: grid;
  grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
  gap: 20px 20px;
  margin: 50px 200px 50px 0px;
}

.aboutMePhoto {
  animation: fadeInPicture ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.aboutMeAdditionalInfoGridContainer {
  display: grid;
  width: 100%;
  margin: 50px 0px;
  grid-template-columns: 50% 50%;
  gap: 20px 0px;
}

.aboutMeAdditionalInfoIndividualGridDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.aboutMeLocationPinIcon,
.aboutMePhoneIcon,
.aboutMeEmailIcon,
.aboutMeLinkedInIcon {
  font-size: 4vw;
  background-color: gray;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 0px 10px;
  padding: 10px;
}

.aboutMeLocationSpan {
  font-size: 4vw;
}

.aboutMeLocationSpan:last-of-type {
  border-bottom: #841617 4px solid;
}

.aboutMeProgrammingLogosIndividualGrid {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 11.11vw;
  height: 5vw;
}

.aboutMeProgrammingLogos {
  width: 100%;
  height: 100%;
}

.personalInfoGridContainer {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  width: 95vw;
  gap: 20px 20px;
  margin: 0px 57.5px 0px 20px;
}

@media screen and (max-width: 1450px) {
  .personalInfoGridContainer {
    grid-template-columns: 100%;
    width: 65vw;
  }
}

.personalInfoGridCell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  width: 100%;
}

.personalInfoGridCell > h1 {
  text-align: center;
  font-size: 50px;
  margin: 0px 0px -17.5px 0px;
}

.aboutMeGridPhotos {
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  height: 80%;
}

.aboutMeGridIFrame {
  width: 100%;
  height: 80%;
  border-radius: 0px 0px 25px 25px;
  border: none;
}

.aboutMeGridDivider {
  text-align: center;
  margin-top: 50px;
  font-size: 75px;
  color: #841617;
  border-bottom: 4px solid #841617;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-75%);
}

.from-right {
  transform: translateX(75%);
}

.from-top {
  transform: translateY(-25%);
}

.from-left,
.from-right,
.from-top {
  transition: opacity 400ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.from-top.appear {
  transform: translateY(0);
  opacity: 1;
}

@keyframes fadeInPicture {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
