@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

* {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(black, gray);
    border-radius: 10px;
}