@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");

.contactMePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100vw;
  min-height: 78.6vh;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
}

.contactMeItems {
  text-align: center;
}

.contactMeFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.contactMeFormDiv .contactMeInputBox {
  position: relative;
  width: 50vw;
}

.contactMeFormDiv .contactMeInputBox input,
.contactMeFormDiv .contactMeInputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 25px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}

.contactMeFormDiv .contactMeInputBox span {
  position: absolute;
  left: 0;
  padding: 0px 0px 10px 0px;
  font-size: 25px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #000000;
}

.contactMeForm .contactMeInputBox input:focus ~ span,
.contactMeForm .contactMeInputBox input:valid ~ span,
.contactMeForm .contactMeInputBox textarea:focus ~ span,
.contactMeForm .contactMeInputBox textarea:valid ~ span {
  color: black;
  font-size: 18px;
  transform: translateY(-25px);
}

small {
  font-size: 17px;
}

.red {
    color: red;
}

button {
  margin-top: 50px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

button:hover {
  cursor: pointer;
}

.successMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successMessage {
  color: green;
  width: 75%;
  text-align: center;
}

.successMessageLinkedIn {
  background: url("../logos/ResizedLinkedInSmallLogo.png") no-repeat;
  height: 64px;
  width: 76px;
  margin-right: 20px;
}

.successMessageGithub {
  background: url("../logos/GitHub64Dark.png") no-repeat;
  height: 64px;
  width: 64px;
  margin-right: 20px;
}

.successMessageFacebook {
  background: url("../logos/FacebookLogo64.png") no-repeat;
  height: 64px;
  width: 64px;
}

.successMessageLogoSpan {
  display: flex;
  flex-direction: row;
}

.successLinks {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 400px) {
  .contactMePage {
    height: 200vh;
  }

  input,
  #contactMeMessageTextarea {
    width: 75%;
  }

  input:first-of-type,
  #contactMeMessageTextarea {
    width: 75%;
  }
}
