.resumePage {
    min-height: 78.8vh;
}

.resumeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myResume {
    border: none;
    transform: scale(1.1);
    margin-top: 50px;
    height: 1000px;
    width: 1000px;
    margin-left: 8%;
    z-index: 1;
}

@media screen and (max-width: 920px) {
    .myResume {
        transform: scale(.9);
    }
}

@media screen and (max-width: 775px) {
    .myResume {
        transform: scale(.75);
        margin-left: 25%;
    }
}

.downloadResumeButton {
    margin-bottom: 50px;
    cursor: pointer;
}